@import 'mixins';

/* module styles */
.image-fit-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;

    img.image-fit-img {
        position: absolute;
        max-width: none;
        top: 0;
        left: 0;
        border: none;
        outline: none;
        @include opacity(0);
        @include prefixes(transition, opacity 0.3s);

        &.fitted-wide {
            width: 100%;
            height: auto;
            top: 50%;
            left: 0;
            @include prefixes(transform, translateY(-50%));
        }

        &.fitted-tall {
            height: 100%;
            width: auto;
            top: 0;
            left: 50%;
            @include prefixes(transform, translateX(-50%));
        }

        &.fitted-object-fit {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include prefixes(transition, none);
        }

        &.fitted-margins {
            @include prefixes(transform, none);
        }

        .no-js &,
        &.fitted {
            @include opacity(1);
        }

        .no-js & {
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
        }
    }
}
